<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj kategorię</title>
</head>
<body>
<h1>Dodaj kategorię</h1>
<form action="#" th:action="@{/Categories/Save}" th:object="${category}" method="post">
    <p>
        <label for="name">Nazwa kategorii:</label>
        <input type="text" id="name" th:field="*{name}" />
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Błędna nazwa kategorii.</div>
    </p>
    <p>
        <input type="submit" value="Dodaj" />
    </p>
</form>

</body>
</html>