<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Dodaj informację</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

</head>
<body>

<div th:replace="appNavbar.html :: appNavbar(path=${path}, role=${loggedUserRole})"></div>

<div class="container col-sm-8 col-md-6 col-lg-4">
    <h1 class="my-4">Dodaj Informację</h1>

    <form action="#" th:action="@{/App/Items/New/Save}" th:object="${item}" method="post">

        <div class="m-2">
            <label class="form-label bg-dark text-light" for="category">Kategoria</label>
            <select class="form-control" id="category" name="category">
                <option value="">-- Wybierz kategorię --</option>
                <option th:each="category : ${categories}" th:value="${category.getId()}"
                        th:text="${category.name}"></option>
            </select>
            <span class="invalid-feedback d-block" th:if="${#fields.hasErrors('category')}"
                  th:errors="*{category}"></span>
        </div>
        <div class="m-2">
            <label class="form-label bg-dark text-light" for="title">Tytuł</label>
            <input class="form-control" type="text" id="title" th:field="*{title}"/>
            <span class="invalid-feedback d-block" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        </div>


        <div class="m-2">
            <label class="form-label bg-dark text-light" for="url">Url</label>
            <input class="form-control" type="text" id="url" th:field="*{url}"/>
            <span class="invalid-feedback d-block" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></span>
        </div>

        <div class="m-2">
            <label class="form-label bg-dark text-light" for="content">Treść</label>
            <textarea rows="4" re class="form-control" type="text" id="content" th:field="*{content}"
                      styles="resize:none"/>
            <span class="invalid-feedback d-block" th:if="${#fields.hasErrors('content')}"
                  th:errors="*{content}"></span>
        </div>

        <p class="my-4">
            <input class="btn btn-success m-lg-2" type="submit" value="Dodaj"/>
        </p>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</body>
</html>