<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Informacje</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

</head>
<body>
<div th:replace="appNavbar.html :: appNavbar(path=${path}, role=${loggedUserRole})"></div>
<div class="container">
    <h1 class="my-4 mx-2 text-center">Informacje</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-end">
                <a class="btn btn-success my-4 col-auto" th:href="${'/App/Items/New'}">Dodaj nową informację</a>
            </div>
            <div class="col-md-6  d-flex justify-content-end">
                <form action="#" th:action="@{/App/Items/Sort}" th:object="${sort}" method="post" class="form d-flex col-auto justify-content-between">
                    <div class="col-auto mx-3">
                        <label class="form-label bg-dark text-light mr-2" for="sortBy">Sortuj</label>
                        <select class="form-control col-4 mb-3" id="sortBy" name="sortBy">
                            <option selected th:value="${sort.getSortBy().name()}" th:text="${sort.getSortBy().name()}"></option>
                            <option th:if="${not #strings.equals(sort.getSortBy().name(), by)}" th:each="by : ${sortBy}"
                                    th:value="${by}" th:text="${by}"></option>
                        </select>
                    </div>
                    <div class="col-auto mx-3">
                    <label class="form-label bg-dark text-light mr-2" for="sortOrder">Kierunek</label>
                    <select class="form-control mb-4" id="sortOrder" name="sortOrder">
                        <option selected th:value="${sort.getSortOrder().name()}" th:text="${sort.getSortOrder().name()}"></option>
                        <option th:if="${not #strings.equals(sort.getSortOrder().name(), by)}" th:each="by : ${orderBy}"
                                th:value="${by}" th:text="${by}"></option>
                    </select>
                    </div>
                    <div class="col-auto d-flex align-items-end mx-3">
                    <input class="btn btn-success d-inline-block my-4" type="submit" value="Sortuj" />
                    </div>
                </form>
            </div>
        </div>
    </div>




    <div th:if="${not #lists.isEmpty(items)}" >
        <table class="table table-striped mx-2 col-auto ">
            <tr>
                <th>Tytuł</th>
                <th>Kategoria</th>
                <th>Treść</th>
                <th>Utworzono</th>
                <th>Akcje</th>
            </tr>
            <tr th:each="item : ${items}">
                <td class="align-middle" th:text="${item.title}"></td>
                <td class="align-middle" th:text="${item.category.name}"></td>
                <td class="align-middle text-truncate" style="max-width: 150px" th:text="${item.content}"></td>
                <td class="align-middle" th:text="${item.created}"></td>
                <td >

                    <a th:href="@{'/App/Items/' + ${item.getId()}}" href="#" class="btn btn-info">Szczegóły</a>

                </td>
            </tr>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</body>
</html>